<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

This notebook introduces the tools and ecosystem of Data Science.

Goals:
* List popular languages for Data Science
* List popular libraries used by data science specialists
* List Data Science Tools
* List some examples of evaluating arithmetic expressions in Python

Some of the popular languages ​​that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. JavaScript
6. C/C++

Some of the commonly used libraries that Data Scientists use include:
1. Pandas
2. TensorFLow
3. Seaborn
4. MatPlotLib
5. ggplot

|Data Science Tools|
|------------------------|
|RStudio|
|Jupyter Notebooke|
|Appache Zeppelin|

### Below are some examples of evaluating arithmetic expressions in Python
1. 2+3
2. 15-4
3. 5*5
4. 4/2

In [9]:
#This is a simple arithmetic expression for multiplying and then adding integers
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Pavel